    mat-form-field{
      margin-left: 5px;
    }
    #barre{
      height: 100px;
    }

	 .medias{
		 display:flex;
		 flex-wrap: wrap;
		 justify-content:center;
		 align-content: flex-start;
	 }
	 app-media-detail{
		 width:25%;
	 }
