<body>
<mat-toolbar color='accent'>
    <span>{{ title }}</span>
		<span class="example-fill-remaining-space"></span>
		<mat-button-toggle-group>
		  <mat-button-toggle routerLink="/dashboard">Dashboard</mat-button-toggle>
			<mat-button-toggle routerLink="/heroes">Heroes</mat-button-toggle>
			<mat-button-toggle routerLink="/keepeek">Keepeek</mat-button-toggle>
			<mat-button-toggle routerLink="/agora">Agora</mat-button-toggle>
		</mat-button-toggle-group>
</mat-toolbar>
<router-outlet></router-outlet>
<app-messages></app-messages>
</body>
