<div *ngIf="eventmain.Identity; then thenBlock else elseBlock">
</div>
<ng-template #thenBlock>
	<mat-card *ngIf="eventmain">
		<mat-card-header>
			<mat-card-title>{{eventmain.Title}} ({{eventmain.Identity}})</mat-card-title>
			<mat-card-subtitle>{{eventmain.StartDate | date : 'EEEE d MMMM y' | uppercase}}</mat-card-subtitle>
			<mat-card-subtitle>{{eventmain.StartDate | date : 'HH:mm'}} - {{eventmain.EndDate | date : 'HH:mm'}}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<mat-list role="list">
				<mat-list-item role="listitem">Référence : {{eventmain.Reference}} ({{eventmain.Identity}}) </mat-list-item>
				<mat-list-item role="listitem">Cycle : {{eventmain.Free1}}</mat-list-item>
				<mat-list-item role="listitem">Durée : {{eventmain.Free2}}</mat-list-item>
				<mat-list-item role="listitem">{{eventmain.Commentary}}</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</ng-template>
<ng-template #elseBlock>
	<mat-card *ngIf="eventmain">
		<mat-card-header>
			<mat-card-title>Nouvel événement</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field appearance="outline" color="accent">
				<input matInput [formControl]="title" required/>
				<mat-label>Titre</mat-label>
				<mat-error *ngIf="title.hasError('required')">
				 Title is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline" color="accent">
		    <textarea matInput [formControl]="commentary"></textarea>
				<mat-label>Commentaire</mat-label>
		  </mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button mat-icon-button color="accent" (click)="save()" aria-label="Save" [disabled]="!(this.title.valid)"><mat-icon>save</mat-icon></button>
		</mat-card-actions>
		<mat-progress-bar [mode]="modeB" [value]="valueB"></mat-progress-bar>
	</mat-card>
</ng-template>
